body {
  background-image: url("https://github.com/lacomb04/hermes-final/blob/main/acessets/img/BG_Site.png?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}
